@import "tailwindcss";

:root {
  /* Neutral */
  --neutral-900: hsl(220, 40%, 13%);
  --neutral-800: hsl(222, 41%, 20%);
  --neutral-700: hsl(217, 21%, 21%);
  --neutral-500: hsl(217, 35%, 45%);
  --neutral-300: hsl(217, 20%, 51%);
  --neutral-200: hsl(222, 44%, 70%);
  --neutral-100: hsl(227, 100%, 98%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Blue */
  --blue-300: hsl(212, 100%, 69%);
  --blue-500: hsl(212, 100%, 50%);

  /* Red */
  --red-500: hsl(0, 92%, 62%);

  --background: var(--neutral-100);
  --foreground: var(--neutral-500);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-space-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--neutral-900);
    --foreground: var(--neutral-0);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
