@import "tailwindcss";

:root {
  /* Neutral */
  --neutral-900: hsl(220, 40%, 13%);
  --neutral-800: hsl(222, 41%, 20%);
  --neutral-700: hsl(217, 21%, 21%);
  --neutral-500: hsl(217, 35%, 45%);
  --neutral-300: hsl(217, 20%, 51%);
  --neutral-200: hsl(222, 44%, 70%);
  --neutral-100: hsl(227, 100%, 98%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Blue */
  --blue-300: hsl(212, 100%, 69%);
  --blue-500: hsl(212, 100%, 50%);

  /* Red */
  --red-500: hsl(0, 92%, 62%);
}

/* Variables are defined in src/constants.js */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-image-background: var(--image-background);
  --color-heading: var(--heading);
  --color-username: var(--username);
  --color-logo: var(--logo);
  --color-stats: var(--stats);
  --color-stats-background: var(--stats-background);
  --color-stats-icon: var(--stats-icon);
  --color-theme-toggle: var(--theme-toggle);
  --color-theme-toggle-hover: var(--theme-toggle-hover);
  --color-button-background: var(--button-background);
  --color-button-foreground: var(--button-foreground);
  --color-search-icon: var(--search-icon);
  --color-button-hover: var(--button-hover);
  --color-highlight: var(--highlight);
  --color-focus: var(--focus);
  --color-error: var(--error);
  --font-mono: var(--font-space-mono);
  --font-loading: var(--loading-font);
  --shadow-card: var(--card-shadow);
}

body {
  background: var(--background);
  color: var(--foreground);
}
